In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("C:/Users/Adith/Desktop/football_analysis/Football/Player Stats 2014-15.csv")

In [ ]:
data.describe()

In [3]:
data.isnull().sum()

League                         0
Team                           0
Season                         0
KEY                            0
Player                       128
Position                     128
Appearances                  128
Goals                          0
Started                      128
Started As A Sub             128
Came On                      128
Taken Off                    128
Own Goals                    128
Type Of Goal                   0
First Half                  2452
Second Half                 2452
First Scorer                2452
Last Scorer                 2452
Home                        2452
Away                        2452
Right Foot                  2450
Left Foot                   2450
Header                      2450
Other Method                2450
Open Play                   2322
Cross                       2322
Free Kick                   2322
Direct Free Kick            2322
Throw In                    2322
Penalty                     2322
Corner                      2322
Other Type Of Play          2322
Minutes played              3751
Min/goal                    3751
Assists                     3887
% Assists                   3887
Leading Recipient           3887
Recipient Goals             3887
CS                          3836
% Clean Sheets              3836
Hat Tricks                  4044
Yellow Cards                1612
Yellow - First Half         1612
Yellow - Second Half        1612
Yellow - Home               1612
Yellow - Away               1612
Yelow - Minutes Played      1612
Minutes per Yellow Cards    1612
Sent Off                    3642
Straight Red Card           3642
Two Yellow Cards            3642
Red - First Half            3642
Red - Second Half           3642
Red - Home                  3642
Red - Away                  3642
Red - Minutes Played        3642
Minutes per Red Cards       3642
dtype: int64

In [ ]:
data.head()

In [4]:
data=data.dropna(subset=['Player'])

In [ ]:
data

In [5]:
data=data.fillna(0)

In [20]:
 data.columns

Index(['League', 'Team', 'Season', 'KEY', 'Player', 'Position', 'Appearances',
       'Goals', 'Started', 'Started As A Sub', 'Came On', 'Taken Off',
       'Own Goals', 'Type Of Goal', 'First Half', 'Second Half',
       'First Scorer', 'Last Scorer', 'Home', 'Away', 'Right Foot',
       'Left Foot', 'Header', 'Other Method', 'Open Play', 'Cross',
       'Free Kick', 'Direct Free Kick', 'Throw In', 'Penalty', 'Corner',
       'Other Type Of Play', 'Minutes played', 'Min/goal', 'Assists',
       '% Assists', 'Leading Recipient', 'Recipient Goals', 'CS',
       '% Clean Sheets', 'Hat Tricks', 'Yellow Cards', 'Yellow - First Half',
       'Yellow - Second Half', 'Yellow - Home', 'Yellow - Away',
       'Yelow - Minutes Played', 'Minutes per Yellow Cards', 'Sent Off',
       'Straight Red Card', 'Two Yellow Cards', 'Red - First Half',
       'Red - Second Half', 'Red - Home', 'Red - Away', 'Red - Minutes Played',
       'Minutes per Red Cards'],
      dtype='object')

In [ ]:
data.dtypes

In [6]:
data=data.replace(to_replace='-',value=0)

In [ ]:
# data.columns

In [7]:
data=pd.DataFrame(data)

In [8]:
df1=data[['League','Team','Player','Position','Appearances','Goals',
        'Started','Home','Away','Right Foot','Left Foot','Header',
         'Direct Free Kick','Assists']]

In [9]:
df1=pd.DataFrame(df1)
df1

,League,Team,Player,Position,Appearances,Goals,Started,Home,Away,Right Foot,Left Foot,Header,Direct Free Kick,Assists
1,Premier League,Chelsea,Eden Hazard,Midfielder,38.0,14,38.0,9,5,6,5,3,0,9.0
2,Premier League,Chelsea,John Terry,Defender,38.0,5,38.0,2,3,1,2,2,0,0.0
3,Premier League,Chelsea,Branislav Ivanovic,Defender,38.0,4,38.0,1,3,3,1,0,0,0.0
4,Premier League,Chelsea,Nemanja Matic,Midfielder,36.0,1,35.0,0,1,0,1,0,0,0.0
5,Premier League,Chelsea,Gary Cahill,Defender,36.0,1,33.0,0,1,1,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4090,Scottish Premiership,St Mirren,Barry Cuddihy,Midfielder,3.0,0,0.0,0,0,0,0,0,0,0.0
4091,Scottish Premiership,St Mirren,Jordan Stewart,Midfielder,1.0,0,0.0,0,0,0,0,0,0,0.0
4092,Scottish Premiership,St Mirren,Mark Williams,Defender,0.0,0,0.0,0,0,0,0,0,0,0.0
4093,Scottish Premiership,St Mirren,Mohammed Yaqub,Midfielder,0.0,0,0.0,0,0,0,0,0,0,0.0
4094,Scottish Premiership,St Mirren,Daniel Wilks,Goalkeeper,0.0,0,0.0,0,0,0,0,0,0,0.0

In [ ]:
df1.dtypes

In [ ]:
# df2=data[['Appearances','Goals',
#         'Started','Home','Away','Right Foot','Left Foot','Header','Open Play',
#          'Direct Free Kick','Assists']]
# df2

In [21]:
df2=data[['Appearances','Goals',
        'Started','Home','Away','Right Foot','Left Foot','Header','Cross','Penalty','Open Play',
         'Direct Free Kick','Assists','Minutes per Yellow Cards']]
df2

,Appearances,Goals,Started,Home,Away,Right Foot,Left Foot,Header,Cross,Penalty,Open Play,Direct Free Kick,Assists,Minutes per Yellow Cards
1,38.0,14,38.0,9,5,6,5,3,2,3,8,0,9.0,1689.5
2,38.0,5,38.0,2,3,1,2,2,0,0,1,0,0.0,1710
3,38.0,4,38.0,1,3,3,1,0,0,0,3,0,0.0,310.91
4,36.0,1,35.0,0,1,0,1,0,0,0,1,0,0.0,312.4
5,36.0,1,33.0,0,1,1,0,0,0,0,0,0,0.0,596.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4090,3.0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0
4091,1.0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0
4092,0.0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0
4093,0.0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0
4094,0.0,0,0.0,0,0,0,0,0,0,0,0,0,0.0,0

In [22]:
df2.dtypes

Appearances                 float64
Goals                         int64
Started                     float64
Home                         object
Away                         object
Right Foot                   object
Left Foot                    object
Header                       object
Cross                        object
Penalty                      object
Open Play                    object
Direct Free Kick             object
Assists                     float64
Minutes per Yellow Cards     object
dtype: object

In [23]:
home=df2['Home'].astype(str).astype(int)
Away=df2['Away'].astype(str).astype(int)
rft=df2['Right Foot'].astype(str).astype(int)
lft=df2['Left Foot'].astype(str).astype(int)
hdr=df2['Header'].astype(str).astype(int)
dfk=df2['Direct Free Kick'].astype(str).astype(int)
myc=df2['Minutes per Yellow Cards'].astype(str).astype(float)
op=df2['Open Play'].astype(str).astype(int)
cross=df2['Cross'].astype(str).astype(int)
penalty=df2['Penalty'].astype(str).astype(int)

In [24]:
df2 = df2.drop(['Home','Away','Right Foot','Left Foot','Header',
         'Direct Free Kick','Open Play','Cross','Penalty'], axis=1)

In [25]:
df2["Home"]=home
df2['Away']=Away
df2['Right Foot']=rft
df2['Left Foot']=lft
df2['Header']=hdr
df2['Direct Free Kick']=dfk
df2['Minutes per Yellow Cards']=myc
df2['Open Play']=op
df2['Cross']=cross
df2['Penalty']=penalty

In [26]:
df2

,Appearances,Goals,Started,Assists,Minutes per Yellow Cards,Home,Away,Right Foot,Left Foot,Header,Direct Free Kick,Open Play,Cross,Penalty
1,38.0,14,38.0,9.0,1689.50,9,5,6,5,3,0,8,2,3
2,38.0,5,38.0,0.0,1710.00,2,3,1,2,2,0,1,0,0
3,38.0,4,38.0,0.0,310.91,1,3,3,1,0,0,3,0,0
4,36.0,1,35.0,0.0,312.40,0,1,0,1,0,0,1,0,0
5,36.0,1,33.0,0.0,596.80,0,1,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4090,3.0,0,0.0,0.0,0.00,0,0,0,0,0,0,0,0,0
4091,1.0,0,0.0,0.0,0.00,0,0,0,0,0,0,0,0,0
4092,0.0,0,0.0,0.0,0.00,0,0,0,0,0,0,0,0,0
4093,0.0,0,0.0,0.0,0.00,0,0,0,0,0,0,0,0,0
4094,0.0,0,0.0,0.0,0.00,0,0,0,0,0,0,0,0,0

In [27]:
def minmax(col):
    ncol=[]
    mx=col.max()
    mn=col.min()
    for i in col:
        ncol.append((i-mn)/(mx-mn))
    return ncol

In [28]:
dfn=df2.apply(minmax,axis=0)

In [29]:
dfn

,Appearances,Goals,Started,Assists,Minutes per Yellow Cards,Home,Away,Right Foot,Left Foot,Header,Direct Free Kick,Open Play,Cross,Penalty
1,1.000000,0.291667,1.000000,0.45,0.494006,0.333333,0.217391,0.206897,0.192308,0.250000,0.0,0.258065,0.2,0.3
2,1.000000,0.104167,1.000000,0.00,0.500000,0.074074,0.130435,0.034483,0.076923,0.166667,0.0,0.032258,0.0,0.0
3,1.000000,0.083333,1.000000,0.00,0.090909,0.037037,0.130435,0.103448,0.038462,0.000000,0.0,0.096774,0.0,0.0
4,0.947368,0.020833,0.921053,0.00,0.091345,0.000000,0.043478,0.000000,0.038462,0.000000,0.0,0.032258,0.0,0.0
5,0.947368,0.020833,0.868421,0.00,0.174503,0.000000,0.043478,0.034483,0.000000,0.000000,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4090,0.078947,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0
4091,0.026316,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0
4092,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0
4093,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0
4094,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0

In [30]:
dfn_sum=dfn.sum(axis=1).sort_values(ascending=False)
dfn_sum

1210    11.087555
1181     9.725600
1819     6.452723
36       6.185832
2068     5.861852
          ...
3812     0.000000
1744     0.000000
1743     0.000000
3813     0.000000
4094     0.000000
Length: 3967, dtype: float64

In [31]:
ix1=dfn_sum.index[:10]
ix1

Int64Index([1210, 1181, 1819, 36, 2068, 3397, 3214, 1873, 1183, 1], dtype='int64')

In [ ]:
ix1=pd.DataFrame(ix1)

In [ ]:
player=[]
for i in range(len(df1['Player'])):
    for j in ix1:
        if i==j:
            player.append(df1['Player'][j])

In [ ]:
player

In [ ]:
df1['Player'][1181]